@tailwind base;
@tailwind components;
@tailwind utilities;

.top-3-5 {
    top: -3.5rem;
}

.top-4-3 {
    top: 4.3rem;
}

.top-5-2 {
    top: 5.2rem;
}

.mt-20vh {
    margin-top: 20vh;
}

.triangulo-sem-borda {
    width: 1px;
    height: 1px;
    border: solid 12px transparent;
    border-bottom: solid 15px #000;
    border-top: none;
    position: absolute;
    top: -0.9rem;
}

.triangulo-sem-borda-localizacao{
    width: 1px;
    height: 1px;
    border: solid 12px transparent;
    border-bottom: solid 15px #000;
    border-top: none;
    position: absolute;
    top: -0.9rem;
    left: 14.6rem;
}

.triangulo-sem-borda-busca{
    width: 1px;
    height: 1px;
    border: solid 12px transparent;
    border-bottom: solid 15px #000;
    border-top: none;
    position: absolute;
    top: -0.9rem;
    right: 25.8rem;
}