@tailwind base;
@tailwind components;
@tailwind utilities;

.top-3-5 {
    top: -3.5rem;
}

.top-4-3 {
    top: 4.3rem;
}

.top-5-2 {
    top: 5.2rem;
}

.mt-20vh {
    margin-top: 20vh;
}

.text-0-5 {
    font-size: 0.5rem;
}

.text-0-6 {
    font-size: 0.6rem;
}

.w-1-25 {
    width: 1.25rem;
}

.h-1-25 {
    height: 1.25rem;
}

.zoom {
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}
.zoom:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.triangulo-sem-borda {
    width: 1px;
    height: 1px;
    border: solid 12px transparent;
    border-bottom: solid 15px #000;
    border-top: none;
    position: absolute;
    top: -0.9rem;
}

.triangulo-sem-borda-localizacao{
    width: 1px;
    height: 1px;
    border: solid 12px transparent;
    border-bottom: solid 15px #000;
    border-top: none;
    position: absolute;
    top: -0.9rem;
    left: 14.6rem;
}

.triangulo-sem-borda-busca{
    width: 1px;
    height: 1px;
    border: solid 12px transparent;
    border-bottom: solid 15px #000;
    border-top: none;
    position: absolute;
    top: -0.9rem;
    right: 25.8rem;
}